*
 
 {
  margin:0px;padding:0px;
  letter-spacing:8px;
  image-rendering: pixelated;
  font-smooth: never;-webkit-font-smoothing: none;
  }

a {
    text-decoration:none;

    }

a:link {
    color:#d2738a;
    }

a:visited {
    color:#d2738a;
    }

a:hover {
    color:#ffffff;

    }

a:active {
    color:#d2738a;
    }



 body 
{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color:#000000;
    color:#000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 0% 0%;
}

h1 
{
    color: #f4416e;
    font-size:20px;
    font-family:Times, "Times New Roman", serif;
    font-weight:normal;
    clear:both;
}
.converter 
{
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label 
{
    display: block;
     margin: 10px 0;
    color: #f4416e;
 }

input 
{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
 }

p 
{
    color: #000000;
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    border-radius: 20px;
    text-decoration: none;
    background: #b2cbe4;
    text-transform: uppercase;
    transition: 0.5s;
    z-index: 1;

}

input::placeholder 
{
    color: #888;
}

h2
{
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    border-radius: 20px;
    text-decoration: none;
    background: #d4d7f8;
    text-transform: uppercase;
    transition: 0.5s;
    z-index: 1;
}
